<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://firebasestorage.googleapis.com/v0/b/vplayz88.appspot.com/o/install%2Fvplayz.ipa?alt=media&token=11710db9-814d-4ee2-bf63-e6fc0db3ad57&_gl=1*kt57ik*_ga*MTUxMDAyNTAyOC4xNjk1MTk2NzAx*_ga_CW55HF8NVT*MTY5NjUwMTU1NS45LjEuMTY5NjUwMTU3NC40MS4wLjA.</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://github.com/trembleCat/IPA-Trusteeship/blob/master/ipa.jpg?raw=true</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://github.com/trembleCat/IPA-Trusteeship/blob/master/ipa.jpg?raw=true</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>Vplayz</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.vplayz88.app</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
